 <ngb-carousel
 [showNavigationArrows]="true" 
 [showNavigationIndicators]="true"
 interval="12000"
 [keyboard]="true"
 [activeId]="'secondSlide'"
 >
    <ng-template ngbSlide id="firstSlide">
      <div class="picsum-img-wrapper">
        <img src="assets/stan1.jpg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
       
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							
						</div>
					</div>
      </div>
    </ng-template>
    <ng-template ngbSlide id="secondSlide">
      <div class="picsum-img-wrapper">
        <img src="assets/stan2.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
						<div class="col-xl-6 col-lg-7 text-white">
							<div class="col-xl-6 col-lg-7 text-white">
								
							</div>
						</div>
					</div>
    </ng-template>
	<ng-template ngbSlide id="thirdSlide">
		<div class="picsum-img-wrapper">
		  <img src="assets/stan3.jpg" alt="Angular Carousel 2">
		</div>
		<div class="carousel-caption">
						  <div class="col-xl-6 col-lg-7 text-white">
							  <div class="col-xl-6 col-lg-7 text-white">
								  
							  </div>
						  </div>
					  </div>
	  </ng-template>
	  <ng-template ngbSlide id="fourthSlide">
		<div class="picsum-img-wrapper">
		  <img src="assets/stan4.jpg" alt="Angular Carousel 2">
		</div>
		<div class="carousel-caption">
						  <div class="col-xl-6 col-lg-7 text-white">
							  <div class="col-xl-6 col-lg-7 text-white">
								  
							  </div>
						  </div>
					  </div>
	  </ng-template>
	  <ng-template ngbSlide id="fifthSlide">
		<div class="picsum-img-wrapper">
		  <img src="assets/stan5.jpg" alt="Angular Carousel 2">
		</div>
		<div class="carousel-caption">
						  <div class="col-xl-6 col-lg-7 text-white">
							  <div class="col-xl-6 col-lg-7 text-white">
								  
							  </div>
						  </div>
					  </div>
	  </ng-template>
  </ngb-carousel>
  
